* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  font-size: 36px;
  text-align: center;
  color: rgb(48, 48, 48);
}
