.table {
  width: 100%;
}

.table th,
.table td {
  text-align: center;
}

.table thead th {
  font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-dark {
  background-color: #343a40;
  color: #fff;
}

.table-dark th,
.table-dark td {
  border-color: #dee2e6;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.extrato-valor {
  font-size: 15px !important;
}

.value-green {
  color: #479129;
}

.value-red {
  color: #ff5959;
}

.item-cell-text {
  font-size: 16px;
  font-weight: 500;
  color: #479129;
}
